.wrapper {
    display: flex;     
    min-height: 100%;
    flex-direction: column;
    height: 100vh;
}

.nav-bar{
    padding: 10px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-bar.hor {
    padding: 0;
    margin: 0;
    justify-items:center;
     display: flex;
    flex-direction: row; 
    justify-content: center;
}

.side-and-content{
    flex: 1 0 auto;
    display: flex;
    width: 100%;
}

.sidebar {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-pane {
    padding: 20px;
    display: flex;
    flex-grow: 11;
    justify-content: center;
}

.footer {
    height: 50px;
    flex-shrink: 0;
    font-size: smaller;
    background: #3399ff;
    text-align: center;
    padding-top: 1em;
}

.show-details {
    display: flex;
    flex-direction: row;
    flex-grow: 11;
}

.meta{
    width: 40%;}

.meta-data{
    text-align: center;
    position:sticky;
    top: 20px;
    display:flex;
    padding: 20px;    
    flex-direction: column;
    justify-content: top;
}

.set-list {
    margin-top: 20px;
    display: flex;
    flex-grow: 11;
}

.field {
    color: white;
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 2px #000000;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
    font-size: 16px;
    font-size: 2vw;
    background: #3399ff;
}

.set-title {
    color: white;
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 2px #000000;
    margin: 3px;
    font-size: 16px;
    font-size: 2.5vw;
    border-radius: 5px;
    background: #3399ff;
}

.set-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 11;
}

.set-header {
    color: white;
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 2px #000000;
    flex-direction: row;
    border-radius: 5px;
    background: #3399ff;
    display: flex;
    margin-bottom: 3px;
}

.set-page {
    margin: 3px;
    border-radius: 5px;
}

.set-header-field {
    color: white;
    text-shadow: 1px 1px 2px #000000;
    align-content: space-around;
    margin-bottom: 0;
    display: flex;
    padding: 5px;
    text-align: left;
    flex: 5;
}

.set-header-field-length {
    color: white;
    text-shadow: 1px 1px 2px #000000;
    align-content: space-around;
    margin-bottom: 0;
    display: flex;
    padding: 5px;
    justify-content: flex-end;    
    flex: 5;
}

.list-flex {
    display:flex
}

.track-info {
    display: flex;
    flex-direction: row;
    flex-grow: 11;
}

.track-info-pos {
    text-align: center;
    margin-left: 10px;
    display: flex;
    align-items: center;

}

.track-info-name-length {
    margin: 5px;
    display: flex;
    flex: 11;
}

.track-info-title {
    display: flex;
    flex: 11;
    margin-left: 10px;
    align-items: center;
    justify-content: flex-start;    
    flex: 95% 11;

}

.track-info-length {
    width: 60px;
    display: flex;
    align-items: center;

}

.list-group-item {
    padding: 0;
    margin:0;
}

.show-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.show-row-2 {
    justify-content: center;
}

.show-field {
    padding: 10px;
    
}

.taper-notesOFF {
    display: none;
}

.taper-notesON {
    display: flex;
    text-align: left;
}

 .nav-link.list{
    padding: 0;
    margin: 0;
    overflow-x: scroll
    
}

.btn.btn-primary {
    text-align: center;
    border: 0;
    padding: 10px;
    margin: 0;
    
}
.btn.btn-primary.shows {
    text-align: left;
    border: 0;
    padding: 10px;
    margin: 0;
}   

.btn-group-vertical {
    color: #ffffff;
    background: #3399ff;
    /* margin-top: 20px; */
    display: flex;
    width: inherit;
    /* flex-grow: inherit; */
    /* max-height: 600px; */
    margin: 20px;
    box-shadow: 1px 1px 2px #000000;
    overflow-x: scroll;
    overflow-y: scroll;
    border-radius: 10px;
}
.btn-group {
    color: #ffffff;
    background: #3399ff;
    margin-top: 20px;
    display: flex;
    width:inherit;
    box-shadow: 1px 1px 2px #000000;
    overflow-x: scroll;
    overflow-y: scroll;
    border-radius: 10px;
}

.container.bvg{
    max-height: 600px;
    overflow-x: scroll;
    overflow-y: scroll; 
    border-radius: 10px;
 }  

.container.bg{
    border-radius: 10px;  
}  

.text-box {
    text-justify: auto;
    margin: 20px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./HeroImage/PhishApp.png);
    height: 50%;
    /* opacity: 85%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 4px 8px black;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .about-center {
      display: flex;
      justify-content: center;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
  }

  .tours-center {
    display: flex;
    justify-content: center;
}

.tours-text {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.songs-center {
    display: flex;
    justify-content: center;
}

.songs-text {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tour-header {
    width: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0;
    text-align: center;
    font-style: italic;
}

.tour-link-contents {
    display: flex;
    justify-content: center;
}

.padding-zero {
    padding: 0;
}

.year-info {
    display: flex;
    flex: 11;
}

.year-info-show {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    margin-left: 20px;  
width: 90px;
}

.year-info-badge {
    margin: 3px;
    display: flex;
    justify-content: flex-start;    
    flex-direction: row;
    

}

.year-info-year {
    display: flex;
    justify-content: flex-start;    
    flex: 75% 11;

}

.year-info-count {

    display: flex;
    margin-right: 5px;
}

.show-info {
    overflow: auto; 
    display: flex;
    flex: 11;
}

.show-info-year {

    display: flex;
    justify-content: flex-start;    
    white-space: nowrap;

}

.show-info-venue {
    display: flex;
    justify-content: flex-start;    
    margin-left: 50px;
    white-space: nowrap;
    flex: 70% 11;

}